html { 
  background: url(coklat.jpg) no-repeat center fixed; 
  background-size: cover;
}

.container {
	height: 100px;
	width: 1000px;
	background-color: rgba(00, 00, 00, 0.5);
	color: white;
	margin-left: 50px;
	margin-top: 520px;
	padding-top: 1px;
	padding-left: 30px;
}
